<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="main_title">Bottomless-Burgers</h1>
      <p class="text">Add unlimited tasty burgers and devour them!</p>
      <form class="create-form updatedBurger">
        <div class="form-group">
          <input type="text" id="bu" name="name" placeholder="Add a burger"><button class="button"
            type="submit">Add a new burger!</button>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      <img src="/assets/images/burger_logo.png" alt="burger logo" id="burger_logo">
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header bg-info text-light">Feeling peckish? Devour a burger!</h3>

        <div class="card-body">
          <ul>
            {{#each burgers}}
            {{#unless devoured_name}}
            <li class = "burgerNames">
              {{burger_name}}
              <button type="button" class="update-devoured" data-id={{this.id}}>DEVOUR IT NOW!</button>
            </li>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header bg-info text-light">Devoured Burgers!</h3>
        <div 3lass="card-body">
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li class="burgerDevoured">{{burger_name}}</li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>

<!-- image link -->
{{!-- <a class="footer" href="https://www.freepik.com/premium-photo/floating-burger-isolated_5808763.htm">Burger Logo Source</a> --}}